.odd {background-color: #ffc0cb;font-family: "Verdana", "DejaVu Sans", sans-serif;}

#odd3 {font-size: 24px;}

#blue {color: #0000ff; font-size: 32px;}

#lightgreen {background-color: #90ee90; font-size: 24px; font-weight: bold;}